* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0 auto;
    background-color: #f2f2f2;

}


img {
    width: 100%;
    margin-top: 1rem;
    padding: 1rem;
    max-height: 60rem;
    max-width: 60rem;

}

header {

    font-size: 1rem;
    position: relative;
    background-color: black;
    width: 100%;
    padding: 1rem;

}


header a {
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 1rem;
    color: white;
}



a {
    font-size: 1rem;
    color: white;
    text-transform: uppercase;
}


h1 {
    font-size: 3rem;
    font-weight: bold;
    max-width: 120rem;
    color: white;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    padding: 0.7rem;
    text-align: center;
    font-family: "Chango";
    text-transform: uppercase;
    background-color: #008000;
}

h2 {
    font-size: 2rem;
    font-weight: 600;
    max-width: 120rem;
    color: white;
    text-align: center;
    font-family: "days one";

}

h3 {
    font-size: 1.5rem;
    padding-bottom: 20px;
    font-weight: 100;
    color: white;
    font-family: "days one";

}

p {
    max-width: 120rem;
    font-size: 1.5rem;
    color: white;
    margin-left: 2rem;
    padding-bottom: 2rem;
    font-family: "Vollkorn";
}

figure {
    margin: 0;
}

figcaption {
    margin: 1rem 1rem;
    padding-right: 2rem;
    padding-left: 1rem;
    margin-top: 0;
    color: gold;
    font-size: 1.2rem;
}

section {
    max-width: 1200px;
    margin: 0 auto;
    border: 1px solid black;
    border-color: black;
    background-color: #191f26;
}


ul {

    color: white;
}


.hidden {
    /*    display: none;*/
    /*    transform: scale(0);*/
    transform: translateX(-100%);
    opacity: 0;
}


#ide .col {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    flex-basis: 300px;
}


#menuknap {
    display: inline-block;
    color: white;

}

#menu {
    list-style-type: none;
    transition: transform .3s;
    transform-origin: top left;
}

@media only screen and (min-width: 600px) {

    #menuknap {
        display: none;
    }

    #menu.hidden {
        transform: translateX(0);
        opacity: 1;
    }

    #menu li {
        display: inline-block;
    }
}
